/****Variables****/
:root {
    --primary:#4d4077;
    --primary-tint:#887AB5;
    --primary-shade:#211B37;
    
    --secondary:#EDE4E4;
    --secondary-tint:#FEEFEF;
    --secondary-shade:#BDB4B4;
    
    --Primary-button:#433E50;
    --Secondary-button:#989292;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a:link, a:visited {
    color: var(--secondary);
}
a:hover {
    color: var(--secondary-shade);
}
a:active {
    color: var(--secondary-tint);
}

.Navbar {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    height: 10rem;
}
.Navbar ul {
    display: flex;
    list-style-type: none;
}
.Navbar li {    
    
    padding: 0;
    
}
.Navbar li a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.Navbar p {
    text-align: center;
    margin: 4rem 8rem 5rem 3rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
}
.Navbar img {
    width:50%;
    margin: 1rem 5rem 5rem 7rem;
}

body {
    background-color: var(--Secondary-button);
}

/* Slideshow */
.slideshow-container {
    width: 100%;
    height: 480px;
    position: relative;
    overflow: hidden;
    margin: 0 auto 2rem auto;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.Main-slides {
    display: none;
    height: 50%;
}

.Main-slides img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

/* Controls */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    border-radius: 50%;
    
    font-size: 28px;
    color: var(--secondary);
    cursor: pointer;
    background: rgba(0,0,0,0.4);
}
.prev { left: 0; }
.next { right: 0; }

/* Text & dots */
.text {
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
    color: var(--secondary);
}

.dot {
    height: 33px;
    width: 33px;
    margin: 5px;
    background: var(--Primary-button);
    border-radius: 50%;
    display: inline-block;
}

.button{
    background-color: var(--primary);
    border-radius: 25px;
    max-width: 12rem;
    margin: -1rem auto;
    
}

.active { background: var(--primary-shade); }

.pics {
    display: flex;
}

.pics img {
    width: 500px;
    height: 400px;
    border-radius: 25px;
    margin: 5rem auto 0 auto;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.containerC ul {
    margin: auto;
}
.cntrL {
    display: block;
    margin: auto;
}
.cntrS {
    margin: 2.5rem auto;
    width: 20rem;
}
.cntrS ul {
    background-color: var(--primary-shade);
    border-radius: 25px;
    height: 500px;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cntrS li {
    list-style: none;
    margin: 5px;
    color: var(--secondary-tint);
}
.cntrS h2 {
    margin-bottom: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--secondary);
}


.Profile img {
    border-radius: 50%;
    margin-left: 3rem;
    height: 20rem;
}

.contact {
    background-color: var(--secondary-shade);
    height: 10rem;
    width: 15rem;
    padding: 1.5rem;
    margin: 1rem 0 0 5rem;
}
.contact li {
    list-style: none;
}
.story {
    background-color: var(--secondary-shade);
    height: 35rem;
    width: 45rem;
    position: absolute;
    right: 25rem;
    top: 20rem;
    padding: 2rem;
}



.Info {
    padding: 2rem;
    background-color: var(--secondary-shade);
    height: 25rem;
    width: 35rem;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Info a:link {
    color: var(--secondary);
}

.Info a:visited {
    color: var(--secondary);
}

.Info a:hover {
    color: var(--Primary-button);
}

.Info a:active {
    color: var(--primary);
}

.Info ul {
    padding: 2rem 5rem;
}

.Info li {
    margin-bottom: 1.5rem;
}

.perk img {
    width:  25rem;
    height: 15rem;
    padding: 0rem 1rem;
}

.perk {
    background-color: var(--primary-shade);
    width: 80rem;
    padding: 2rem 2rem;
}

.grid-3col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.grid-2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 5rem 0rem;
}